{% extends 'base.html' %}
{% block head_title %} Login {% endblock %}
{% block main_title %} Login {% endblock %}

{% block content %}

    {% for message in messages %}
        <p style="color:red">{{ message }}</p>
    {% endfor %}
<div class="container">
    <div class="card-body">
    <form method="post">
        {% csrf_token %}

            <div class="login-card">Username:
                <input type="text" name="usr" placeholder="Username" required>
            </div>
            <div class="login-card">Password:
                <input type="password" name="pwd" placeholder="Password" required>
            </div>
            <div class="login-card">
                <button type="submit">Login</button>
            </div>
    </form>
    </div>
</div>
{% endblock %}