{% extends 'base.html' %}
{% block head_title %} Login {% endblock %}
{% block main_title %} Login {% endblock %}

{% block content %}

    {% for message in messages %}
        <p style="color:red">{{ message }}</p>
    {% endfor %}
<div class="container">
    <div class="card-body">
    <form method="post">
        {% csrf_token %}

            {{ form.as_p }}
            <div class="login-card">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
    </form>
    </div>
</div>
{% endblock %}