{% extends "base.html" %}
{% block content %}
<style>
    body {
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
    .center {
  text-align: center;
}
</style>

<div class="container">
    <h1 class="center">Users Posts</h1>
        <!-- Blog Entries Column -->
    {% for blog in object_list %}
        <div>
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ blog.title }}</h2>
                    <h4 class="card-title"> {{ blog.text }}</h4>
                    <p class="card-text text-muted h6">{{ blog.owner }} | Published on {{ blog.creation_date|date:'d/m/Y' }}</p>
                    <p class="card-text">{{blog.description|slice:":200" }}</p>

                    <img src="{{ blog.url }}" alt="{{ blog.description }}" title="{{ blog.title }}" by {{ blog.owner.first_name }} {{ blog.owner.last_name }} height="200"></a>

                </div>
            </div>
    {% endfor %}
        </div>
</div>
{%endblock%}
